## 네이버 금융 개별종목 수집

1. 수집 하고자 하는 페이지의 URL을 알아본다.
1. 파이썬의 작은 브라우저 requests 를 통해 URL에 접근한다.
1. response.status_code 가 200 OK 라면 정상 응답입니다.
1. request의 response 값에서 response.text 만 받아옵니다.
1. html 텍스트를 받아왔다면  BeautifulSoup 로 html 을 해석합니다.
1. soup.select 를 통해 원하는 태그에 접근합니다.
1. 목록을 먼저 받아옵니다.
1. 목록에서 행을 하나씩 가져옵니다.
1. 행을 모아서 데이터프레임으로 만듭니다.
=> 판다스라면 read_html로 table로 된 태그에 대해 위 과정을 코드 한 줄로 해줍니다.



### Keyword

* html 파일 읽어오기
    * pd.read_html(url, encoding="cp949")

* 결측 데이터 제거하기(axis 0:행, 1:열)
    * table[0].dropna()

* 데이터 프레임 합치기
    * pd.concat([df1, df2, df3])

* 중복데이터 제거
    * df.drop_duplicates()

* 과학적 기수법
    * 1.210000e+02 => 121

* 날짜 column의 첫 row값 확인
    * date = df.iloc[0]["날짜"]

* 파일로 저장하기 
    * df.to_csv(file_name, index=False)

* 파일 읽어오기
    * pd.read_csv(file_name)

## 수집할 페이지 보기

* 네이버 금융 국내증시 : https://finance.naver.com/sise/
* 주요 종목
    * 삼성전자 : https://finance.naver.com/item/main.naver?code=005930
    * 현대차 : https://finance.naver.com/item/main.naver?code=005380
    * SK하이닉스 : https://finance.naver.com/item/main.naver?code=000660

## 라이브러리 로드

In [1]:
# 라이브러리 로드
import pandas as pd
import numpy as np

## 수집할 URL 정하기

In [2]:
# 종목번호와 상장사 이름을 item_code와 item_name으로 설정
# item_code = "323410"
# item_name = "카카오뱅크"

item_code = "005930"
item_name = "삼성전자"

# 종목 URL 만들기
url = f'https://finance.naver.com/item/sise_day.naver?code={item_code}&page=1'
print(url)

https://finance.naver.com/item/sise_day.naver?code=005930&page=1

## requests를 통한 HTTP 요청
* [Requests: HTTP for Humans™ — Requests documentation](https://requests.readthedocs.io/en/master/)
* [Quickstart — Requests documentation # custom-headers](https://requests.readthedocs.io/en/latest/user/quickstart/#custom-headers)

In [3]:
import requests
# 헤더스 필요!!!
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.67 Safari/537.36'}
response = requests.get(url, headers = headers)
response.status_code

200

In [4]:
response.text

'\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 금융</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/world.css">\n</head>\n<body>\n<script language="JavaScript">\nfunction mouseOver(obj){\n  obj.style.backgroundColor="#f6f4e5";\n}\nfunction mouseOut(obj){\n  obj.style.backgroundColor="#ffffff";\n}\n</script>\n\t\t\t\t<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>\t\t\t\n\t\t\t\t<table cellspacing="0" class="type2">\n\t\t\t\t<tr>\n\t\t\t\t<th>날짜</th>\n\t\t\t\t<th>종가</th>\n\t\t\t\t<th>전일비</th>\n\t\t\t\t<th>시가</th>\n\t\t\t\t<th>고가</th>\n\t\t\t\t<th>저가</th>\n\t\t\t\t<th>거래량</th>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\n\n\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.18</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">68,600</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t1,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">68,300</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">68,600</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">68,100</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">2,255,246</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.17</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,600</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t1,300\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,900</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">15,680,447</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.16</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,300</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t200\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">11,937,555</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.13</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t1,600\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">14,551,536</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.12</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">64,900</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t800\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">64,900</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">16,414,188</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="1" bgcolor="#e1e1e1"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.11</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,700</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<span class="tah p11">0</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">12,330,920</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.10</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,700</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t400\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,900</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">65,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">17,235,605</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.09</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,100</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t400\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,900</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">11,858,736</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.06</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t1,400\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">66,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">14,356,156</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2022.05.04</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,900</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t400\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">68,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">68,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">67,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">11,505,248</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\n\t\n\t\n\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 시작--->\n\t\t\t\t<table summary="페이지 네비게이션 리스트" class="Nnavi" align="center">\n\t\t\t\t<caption>페이지 네비게이션</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t\n                \n                <td class="on">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=1"  >1</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=2"  >2</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=3"  >3</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=4"  >4</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=5"  >5</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=6"  >6</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=7"  >7</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=8"  >8</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=9"  >9</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=10"  >10</a>\n\t\t\t\t</td>\n\n                <td class="pgR">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=11"  >\n\t\t\t\t다음<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgRR">\n\t\t\t\t<a href="/item/sise_day.naver?code=005930&amp;page=651"  >맨뒤\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 끝--->\n\n\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/js/jindo.min.ns.1.5.3.euckr.js"></script>\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/js/lcslog.js"></script>\n\t<script type="text/javascript">\n        ;(function(){\n            var eventType = "onpageshow" in window ? "pageshow" : "load";\n            jindo.$Fn(function(){\n                lcs_do();\n            }).attach(window, eventType);\n        })();\n\t</script>\n\n</body>'

## BeautifulSoup 을 통한 table 태그 찾기

In [5]:
from bs4 import BeautifulSoup as bs

html = bs(response.text, "lxml")
html

<html lang="ko">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>네이버 금융</title>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/newstock.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/common.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/main.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/newstock2.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/newstock3.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/css/world.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<script language="JavaScript">
function mouseOver(obj){
  obj.style.backgroundColor="#f6f4e5";
}
function mouseOut(obj){
  obj.style.backgroundColor="#ffffff";
}
</script>
<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>
<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.18</span></td>
<td class="num"><span class="tah p11">68,600</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,000
				</span>
</td>
<td class="num"><span class="tah p11">68,300</span></td>
<td class="num"><span class="tah p11">68,600</span></td>
<td class="num"><span class="tah p11">68,100</span></td>
<td class="num"><span class="tah p11">2,255,246</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.17</span></td>
<td class="num"><span class="tah p11">67,600</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,300
				</span>
</td>
<td class="num"><span class="tah p11">66,600</span></td>
<td class="num"><span class="tah p11">67,900</span></td>
<td class="num"><span class="tah p11">66,600</span></td>
<td class="num"><span class="tah p11">15,680,447</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.16</span></td>
<td class="num"><span class="tah p11">66,300</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				200
				</span>
</td>
<td class="num"><span class="tah p11">67,100</span></td>
<td class="num"><span class="tah p11">67,400</span></td>
<td class="num"><span class="tah p11">66,100</span></td>
<td class="num"><span class="tah p11">11,937,555</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.13</span></td>
<td class="num"><span class="tah p11">66,500</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,600
				</span>
</td>
<td class="num"><span class="tah p11">65,300</span></td>
<td class="num"><span class="tah p11">66,700</span></td>
<td class="num"><span class="tah p11">65,200</span></td>
<td class="num"><span class="tah p11">14,551,536</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.12</span></td>
<td class="num"><span class="tah p11">64,900</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				800
				</span>
</td>
<td class="num"><span class="tah p11">65,200</span></td>
<td class="num"><span class="tah p11">65,500</span></td>
<td class="num"><span class="tah p11">64,900</span></td>
<td class="num"><span class="tah p11">16,414,188</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.11</span></td>
<td class="num"><span class="tah p11">65,700</span></td>
<td class="num">
<span class="tah p11">0</span>
</td>
<td class="num"><span class="tah p11">65,500</span></td>
<td class="num"><span class="tah p11">66,300</span></td>
<td class="num"><span class="tah p11">65,200</span></td>
<td class="num"><span class="tah p11">12,330,920</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.10</span></td>
<td class="num"><span class="tah p11">65,700</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				400
				</span>
</td>
<td class="num"><span class="tah p11">65,900</span></td>
<td class="num"><span class="tah p11">66,300</span></td>
<td class="num"><span class="tah p11">65,300</span></td>
<td class="num"><span class="tah p11">17,235,605</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.09</span></td>
<td class="num"><span class="tah p11">66,100</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				400
				</span>
</td>
<td class="num"><span class="tah p11">66,300</span></td>
<td class="num"><span class="tah p11">66,900</span></td>
<td class="num"><span class="tah p11">66,100</span></td>
<td class="num"><span class="tah p11">11,858,736</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.06</span></td>
<td class="num"><span class="tah p11">66,500</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,400
				</span>
</td>
<td class="num"><span class="tah p11">67,000</span></td>
<td class="num"><span class="tah p11">67,100</span></td>
<td class="num"><span class="tah p11">66,500</span></td>
<td class="num"><span class="tah p11">14,356,156</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.04</span></td>
<td class="num"><span class="tah p11">67,900</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				400
				</span>
</td>
<td class="num"><span class="tah p11">68,000</span></td>
<td class="num"><span class="tah p11">68,400</span></td>
<td class="num"><span class="tah p11">67,500</span></td>
<td class="num"><span class="tah p11">11,505,248</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>
<!--- 페이지 네비게이션 시작--->
<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="on">
<a href="/item/sise_day.naver?code=005930&amp;page=1">1</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=2">2</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=3">3</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=4">4</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=5">5</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=6">6</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=7">7</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=8">8</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=9">9</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=10">10</a>
</td>
<td class="pgR">
<a href="/item/sise_day.naver?code=005930&amp;page=11">
				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>
<td class="pgRR">
<a href="/item/sise_day.naver?code=005930&amp;page=651">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>
</tr>
</table>
<!--- 페이지 네비게이션 끝--->
<script src="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/js/jindo.min.ns.1.5.3.euckr.js" type="text/javascript"></script>
<script src="https://ssl.pstatic.net/imgstock/static.pc/20220511192542/js/lcslog.js" type="text/javascript"></script>
<script type="text/javascript">
        ;(function(){
            var eventType = "onpageshow" in window ? "pageshow" : "load";
            jindo.$Fn(function(){
                lcs_do();
            }).attach(window, eventType);
        })();
	</script>
</body></html>

In [6]:
html.title.name

'title'

In [7]:
html.title.string

'네이버 금융'

In [8]:
html.title.parent.name

'head'

In [9]:
print(len(html.find_all("table")))
html.find_all("table")

2

[<table cellspacing="0" class="type2">
 <tr>
 <th>날짜</th>
 <th>종가</th>
 <th>전일비</th>
 <th>시가</th>
 <th>고가</th>
 <th>저가</th>
 <th>거래량</th>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.05.18</span></td>
 <td class="num"><span class="tah p11">68,600</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">68,300</span></td>
 <td class="num"><span class="tah p11">68,600</span></td>
 <td class="num"><span class="tah p11">68,100</span></td>
 <td class="num"><span class="tah p11">2,255,246</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.05.17</span></td>
 <td class="num"><span class="tah p11">67,600</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,300
 				</span>
 </td>
 <td class="num"><span class="tah p11">66,600</span></td>
 <td class="num"><span class="tah p11">67,900</span></td>
 <td class="num"><span class="tah p11">66,600</span></td>
 <td class="num"><span class="tah p11">15,680,447</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.05.16</span></td>
 <td class="num"><span class="tah p11">66,300</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				200
 				</span>
 </td>
 <td class="num"><span class="tah p11">67,100</span></td>
 <td class="num"><span class="tah p11">67,400</span></td>
 <td class="num"><span class="tah p11">66,100</span></td>
 <td class="num"><span class="tah p11">11,937,555</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.05.13</span></td>
 <td class="num"><span class="tah p11">66,500</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,600
 				</span>
 </td>
 <td class="num"><span class="tah p11">65,300</span></td>
 <td class="num"><span class="tah p11">66,700</span></td>
 <td class="num"><span class="tah p11">65,200</span></td>
 <td class="num"><span class="tah p11">14,551,536</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.05.12</span></td>
 <td class="num"><span class="tah p11">64,900</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				800
 				</span>
 </td>
 <td class="num"><span class="tah p11">65,200</span></td>
 <td class="num"><span class="tah p11">65,500</span></td>
 <td class="num"><span class="tah p11">64,900</span></td>
 <td class="num"><span class="tah p11">16,414,188</span></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr>
 <td bgcolor="#e1e1e1" colspan="7" height="1"></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.05.11</span></td>
 <td class="num"><span class="tah p11">65,700</span></td>
 <td class="num">
 <span class="tah p11">0</span>
 </td>
 <td class="num"><span class="tah p11">65,500</span></td>
 <td class="num"><span class="tah p11">66,300</span></td>
 <td class="num"><span class="tah p11">65,200</span></td>
 <td class="num"><span class="tah p11">12,330,920</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.05.10</span></td>
 <td class="num"><span class="tah p11">65,700</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				400
 				</span>
 </td>
 <td class="num"><span class="tah p11">65,900</span></td>
 <td class="num"><span class="tah p11">66,300</span></td>
 <td class="num"><span class="tah p11">65,300</span></td>
 <td class="num"><span class="tah p11">17,235,605</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.05.09</span></td>
 <td class="num"><span class="tah p11">66,100</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				400
 				</span>
 </td>
 <td class="num"><span class="tah p11">66,300</span></td>
 <td class="num"><span class="tah p11">66,900</span></td>
 <td class="num"><span class="tah p11">66,100</span></td>
 <td class="num"><span class="tah p11">11,858,736</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.05.06</span></td>
 <td class="num"><span class="tah p11">66,500</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,400
 				</span>
 </td>
 <td class="num"><span class="tah p11">67,000</span></td>
 <td class="num"><span class="tah p11">67,100</span></td>
 <td class="num"><span class="tah p11">66,500</span></td>
 <td class="num"><span class="tah p11">14,356,156</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.05.04</span></td>
 <td class="num"><span class="tah p11">67,900</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				400
 				</span>
 </td>
 <td class="num"><span class="tah p11">68,000</span></td>
 <td class="num"><span class="tah p11">68,400</span></td>
 <td class="num"><span class="tah p11">67,500</span></td>
 <td class="num"><span class="tah p11">11,505,248</span></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 </table>,
 <table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
 <caption>페이지 네비게이션</caption>
 <tr>
 <td class="on">
 <a href="/item/sise_day.naver?code=005930&amp;page=1">1</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=2">2</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=3">3</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=4">4</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=5">5</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=6">6</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=7">7</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=8">8</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=9">9</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=10">10</a>
 </td>
 <td class="pgR">
 <a href="/item/sise_day.naver?code=005930&amp;page=11">
 				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
 </a>
 </td>
 <td class="pgRR">
 <a href="/item/sise_day.naver?code=005930&amp;page=651">맨뒤
 				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
 </a>
 </td>
 </tr>
 </table>]

In [10]:
print(len(html.find("table")))
html.find("table")

33

<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.18</span></td>
<td class="num"><span class="tah p11">68,600</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,000
				</span>
</td>
<td class="num"><span class="tah p11">68,300</span></td>
<td class="num"><span class="tah p11">68,600</span></td>
<td class="num"><span class="tah p11">68,100</span></td>
<td class="num"><span class="tah p11">2,255,246</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.17</span></td>
<td class="num"><span class="tah p11">67,600</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,300
				</span>
</td>
<td class="num"><span class="tah p11">66,600</span></td>
<td class="num"><span class="tah p11">67,900</span></td>
<td class="num"><span class="tah p11">66,600</span></td>
<td class="num"><span class="tah p11">15,680,447</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.16</span></td>
<td class="num"><span class="tah p11">66,300</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				200
				</span>
</td>
<td class="num"><span class="tah p11">67,100</span></td>
<td class="num"><span class="tah p11">67,400</span></td>
<td class="num"><span class="tah p11">66,100</span></td>
<td class="num"><span class="tah p11">11,937,555</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.13</span></td>
<td class="num"><span class="tah p11">66,500</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,600
				</span>
</td>
<td class="num"><span class="tah p11">65,300</span></td>
<td class="num"><span class="tah p11">66,700</span></td>
<td class="num"><span class="tah p11">65,200</span></td>
<td class="num"><span class="tah p11">14,551,536</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.12</span></td>
<td class="num"><span class="tah p11">64,900</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				800
				</span>
</td>
<td class="num"><span class="tah p11">65,200</span></td>
<td class="num"><span class="tah p11">65,500</span></td>
<td class="num"><span class="tah p11">64,900</span></td>
<td class="num"><span class="tah p11">16,414,188</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.11</span></td>
<td class="num"><span class="tah p11">65,700</span></td>
<td class="num">
<span class="tah p11">0</span>
</td>
<td class="num"><span class="tah p11">65,500</span></td>
<td class="num"><span class="tah p11">66,300</span></td>
<td class="num"><span class="tah p11">65,200</span></td>
<td class="num"><span class="tah p11">12,330,920</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.10</span></td>
<td class="num"><span class="tah p11">65,700</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				400
				</span>
</td>
<td class="num"><span class="tah p11">65,900</span></td>
<td class="num"><span class="tah p11">66,300</span></td>
<td class="num"><span class="tah p11">65,300</span></td>
<td class="num"><span class="tah p11">17,235,605</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.09</span></td>
<td class="num"><span class="tah p11">66,100</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				400
				</span>
</td>
<td class="num"><span class="tah p11">66,300</span></td>
<td class="num"><span class="tah p11">66,900</span></td>
<td class="num"><span class="tah p11">66,100</span></td>
<td class="num"><span class="tah p11">11,858,736</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.06</span></td>
<td class="num"><span class="tah p11">66,500</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,400
				</span>
</td>
<td class="num"><span class="tah p11">67,000</span></td>
<td class="num"><span class="tah p11">67,100</span></td>
<td class="num"><span class="tah p11">66,500</span></td>
<td class="num"><span class="tah p11">14,356,156</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.05.04</span></td>
<td class="num"><span class="tah p11">67,900</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				400
				</span>
</td>
<td class="num"><span class="tah p11">68,000</span></td>
<td class="num"><span class="tah p11">68,400</span></td>
<td class="num"><span class="tah p11">67,500</span></td>
<td class="num"><span class="tah p11">11,505,248</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>

In [11]:
tables = html.select("table")
tables == html.findAll("table")

True

In [12]:
len(tables)

2

In [13]:
html.table == html.find("table")

True

## pandas 코드 한 줄로 데이터 수집하기

In [14]:
# table = pd.read_html(requests.get(url, headers = {"User-agent" : "Mozilla/5.0"}, encoding = "cp494"))

In [15]:
# read_html을 이용하여 url의 page내의 값을 DataFrame으로 받아옵니다.
# cp949는 한글 인코딩을 위해 사용합니다. 기본 인코딩 설정은 utf-8 이며, 
# 네이버의 일별 시세는 cp949 인코딩으로 불러올 수 있습니다.
# 데이터를 로드 했을 때 한글 인코딩이 깨진다면 대부분 cp949 로 불러올 수 있습니다.
table = pd.read_html(str(tables), encoding = "cp949")
print(len(table))
table[0]

2

            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2022.05.18  68600.0  1000.0  68300.0  68600.0  68100.0   2255246.0
2   2022.05.17  67600.0  1300.0  66600.0  67900.0  66600.0  15680447.0
3   2022.05.16  66300.0   200.0  67100.0  67400.0  66100.0  11937555.0
4   2022.05.13  66500.0  1600.0  65300.0  66700.0  65200.0  14551536.0
5   2022.05.12  64900.0   800.0  65200.0  65500.0  64900.0  16414188.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2022.05.11  65700.0     0.0  65500.0  66300.0  65200.0  12330920.0
10  2022.05.10  65700.0   400.0  65900.0  66300.0  65300.0  17235605.0
11  2022.05.09  66100.0   400.0  66300.0  66900.0  66100.0  11858736.0
12  2022.05.06  66500.0  1400.0  67000.0  67100.0  66500.0  14356156.0
13  2022.05.04  67900.0   400.0  68000.0  68400.0  67500.0  11505248.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN

In [16]:
# table[0]와 table[1]을 확인하여 보면 table[0]에 필요한 데이터들이 있습니다.
table[1]

   0   1   2   3   4   5   6   7   8   9   10  11
0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤

In [17]:
# dropna를 통해 결측치가 들어있는 row를 제거합니다.
temp = table[0].dropna()
temp

            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.05.18  68600.0  1000.0  68300.0  68600.0  68100.0   2255246.0
2   2022.05.17  67600.0  1300.0  66600.0  67900.0  66600.0  15680447.0
3   2022.05.16  66300.0   200.0  67100.0  67400.0  66100.0  11937555.0
4   2022.05.13  66500.0  1600.0  65300.0  66700.0  65200.0  14551536.0
5   2022.05.12  64900.0   800.0  65200.0  65500.0  64900.0  16414188.0
9   2022.05.11  65700.0     0.0  65500.0  66300.0  65200.0  12330920.0
10  2022.05.10  65700.0   400.0  65900.0  66300.0  65300.0  17235605.0
11  2022.05.09  66100.0   400.0  66300.0  66900.0  66100.0  11858736.0
12  2022.05.06  66500.0  1400.0  67000.0  67100.0  66500.0  14356156.0
13  2022.05.04  67900.0   400.0  68000.0  68400.0  67500.0  11505248.0

## 페이지별 데이터 수집 함수 만들기

In [18]:
print(url)

https://finance.naver.com/item/sise_day.naver?code=005930&page=1

In [19]:
# 종목 번호를 이용해 page에 따라 데이터를 읽어오는 함수
# """ 는 이 두개 사이의 행들은 주석 처리되며, 함수의 docstring 으로 사용됩니다.

def get_day_list(item_code, page_no):
    """
    일자별 시세를 페이지별로 수집
    """ 
    url = f"https://finance.naver.com/item/sise_day.naver?code={item_code}&page={page_no}"
    headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.67 Safari/537.36'}
    response = requests.get(url, headers = headers)
    html = bs(response.text, "lxml")
    tables = html.select("table")
    table = pd.read_html(str(tables), encoding = "cp949") # 굳이 인코딩
    temp = table[0].dropna()
    return temp

In [20]:
# 함수가 잘 만들어졌는지 확인하기
page_no = 1
get_day_list(item_code, page_no)

            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.05.18  68600.0  1000.0  68300.0  68600.0  68100.0   2255246.0
2   2022.05.17  67600.0  1300.0  66600.0  67900.0  66600.0  15680447.0
3   2022.05.16  66300.0   200.0  67100.0  67400.0  66100.0  11937555.0
4   2022.05.13  66500.0  1600.0  65300.0  66700.0  65200.0  14551536.0
5   2022.05.12  64900.0   800.0  65200.0  65500.0  64900.0  16414188.0
9   2022.05.11  65700.0     0.0  65500.0  66300.0  65200.0  12330920.0
10  2022.05.10  65700.0   400.0  65900.0  66300.0  65300.0  17235605.0
11  2022.05.09  66100.0   400.0  66300.0  66900.0  66100.0  11858736.0
12  2022.05.06  66500.0  1400.0  67000.0  67100.0  66500.0  14356156.0
13  2022.05.04  67900.0   400.0  68000.0  68400.0  67500.0  11505248.0

In [21]:
len(table)

2

In [44]:
html.select("a")[-1]["href"].split('=')

['/item/sise_day.naver?code', '005930&page', '651']

## 반복문을 통한 전체 일자 데이터 수집하기
* (주의) 기간이 긴 데이터를 수집할때는 서버에 부담을 주지 않기 위해 time.sleep()값을 주세요.

In [22]:
import time

# 데이터를 저장할 빈 변수 선언
item_list = []
for page_no in range(1, 5):
    item_list.append(get_day_list(item_code, page_no))
    time.sleep(0.1)
    
item_list

[            날짜       종가     전일비       시가       고가       저가         거래량
 1   2022.05.18  68600.0  1000.0  68300.0  68600.0  68100.0   2255246.0
 2   2022.05.17  67600.0  1300.0  66600.0  67900.0  66600.0  15680447.0
 3   2022.05.16  66300.0   200.0  67100.0  67400.0  66100.0  11937555.0
 4   2022.05.13  66500.0  1600.0  65300.0  66700.0  65200.0  14551536.0
 5   2022.05.12  64900.0   800.0  65200.0  65500.0  64900.0  16414188.0
 9   2022.05.11  65700.0     0.0  65500.0  66300.0  65200.0  12330920.0
 10  2022.05.10  65700.0   400.0  65900.0  66300.0  65300.0  17235605.0
 11  2022.05.09  66100.0   400.0  66300.0  66900.0  66100.0  11858736.0
 12  2022.05.06  66500.0  1400.0  67000.0  67100.0  66500.0  14356156.0
 13  2022.05.04  67900.0   400.0  68000.0  68400.0  67500.0  11505248.0,
             날짜       종가     전일비       시가       고가       저가         거래량
 1   2022.05.03  67500.0   200.0  67400.0  68400.0  67300.0  14168875.0
 2   2022.05.02  67300.0   100.0  66600.0  67600.0  66500.0  14106184.0
 3   2022.04.29  67400.0  2600.0  65100.0  67600.0  65000.0  26190390.0
 4   2022.04.28  64800.0   200.0  65400.0  65500.0  64500.0  16895527.0
 5   2022.04.27  65000.0  1100.0  65400.0  65500.0  64900.0  18122084.0
 9   2022.04.26  66100.0   200.0  66400.0  66700.0  66100.0  12946923.0
 10  2022.04.25  66300.0   700.0  66500.0  66700.0  66300.0  11016474.0
 11  2022.04.22  67000.0   700.0  67200.0  67300.0  66700.0  11791478.0
 12  2022.04.21  67700.0   300.0  67600.0  68300.0  67500.0  12847448.0
 13  2022.04.20  67400.0   100.0  67000.0  67400.0  66500.0  16693293.0,
             날짜       종가     전일비       시가       고가       저가         거래량
 1   2022.04.19  67300.0   600.0  67100.0  68000.0  67000.0  12959434.0
 2   2022.04.18  66700.0   100.0  66500.0  67100.0  66100.0  10119203.0
 3   2022.04.15  66600.0   900.0  67200.0  67300.0  66500.0  13176415.0
 4   2022.04.14  67500.0  1200.0  68700.0  68700.0  67500.0  16409494.0
 5   2022.04.13  68700.0  1700.0  67300.0  69000.0  67200.0  17378619.0
 9   2022.04.12  67000.0   900.0  67600.0  67700.0  67000.0  13924389.0
 10  2022.04.11  67900.0   100.0  67800.0  68100.0  67400.0  12263735.0
 11  2022.04.08  67800.0   200.0  68100.0  68300.0  67700.0  15453191.0
 12  2022.04.07  68000.0   500.0  68500.0  68500.0  68000.0  20683327.0
 13  2022.04.06  68500.0   700.0  68600.0  68800.0  68500.0  15517308.0,
             날짜       종가    전일비       시가       고가       저가         거래량
 1   2022.04.05  69200.0  100.0  69400.0  69600.0  69100.0   8467248.0
 2   2022.04.04  69300.0  200.0  68900.0  69300.0  68600.0  11107905.0
 3   2022.04.01  69100.0  500.0  69500.0  69500.0  69000.0  15916846.0
 4   2022.03.31  69600.0  300.0  69900.0  70200.0  69600.0  12510366.0
 5   2022.03.30  69900.0  300.0  70300.0  70500.0  69800.0  12670187.0
 9   2022.03.29  70200.0  500.0  70000.0  70300.0  69800.0  13686208.0
 10  2022.03.28  69700.0  100.0  69500.0  69900.0  69200.0  12619289.0
 11  2022.03.25  69800.0    0.0  70100.0  70200.0  69600.0  12986010.0
 12  2022.03.24  69800.0  700.0  69600.0  70300.0  69600.0  37943357.0
 13  2022.03.23  70500.0  200.0  70600.0  71200.0  70300.0  12398025.0]

In [123]:
# 카카오페이 377300
# 왜 안될까?????? # 해결!!!!!
# 복습할때 꼭 복습 해보기
# naver financial
item_code = "377300"
page_no = 1
item_list = []

while True:    
    if get_day_list(item_code, page_no).to_dict() == get_day_list(item_code, page_no + 1).to_dict():
        item_list.append(get_day_list(item_code, page_no))
        break
    else:
        item_list.append(get_day_list(item_code, page_no))
        time.sleep(0.01)
        page_no += 1
    
item_list

[            날짜        종가     전일비        시가        고가        저가       거래량
 1   2022.05.18   90100.0  1400.0   89600.0   90900.0   89300.0  108398.0
 2   2022.05.17   88700.0  2900.0   85800.0   88700.0   85400.0  214643.0
 3   2022.05.16   85800.0   200.0   86500.0   88700.0   85700.0  277584.0
 4   2022.05.13   86000.0   100.0   85900.0   86600.0   85000.0  307400.0
 5   2022.05.12   85900.0  5500.0   90000.0   90000.0   85000.0  512917.0
 9   2022.05.11   91400.0   500.0   91000.0   92800.0   89700.0  333197.0
 10  2022.05.10   91900.0  1900.0   91200.0   92000.0   89700.0  514324.0
 11  2022.05.09   93800.0  4000.0   96000.0   96700.0   93400.0  462857.0
 12  2022.05.06   97800.0  8700.0  104500.0  105000.0   97100.0  735556.0
 13  2022.05.04  106500.0  2000.0  108000.0  109500.0  106000.0  302514.0,
             날짜        종가     전일비        시가        고가        저가       거래량
 1   2022.05.03  108500.0   500.0  108000.0  113500.0  106000.0  738570.0
 2   2022.05.02  108000.0  4500.0  109500.0  110000.0  107500.0  351056.0
 3   2022.04.29  112500.0   500.0  111000.0  114000.0  111000.0  201669.0
 4   2022.04.28  112000.0  1500.0  114000.0  114500.0  109500.0  234226.0
 5   2022.04.27  113500.0  2500.0  112000.0  113500.0  111500.0  151688.0
 9   2022.04.26  116000.0  3000.0  114500.0  118500.0  114000.0  234446.0
 10  2022.04.25  113000.0  5000.0  115500.0  117000.0  113000.0  160167.0
 11  2022.04.22  118000.0  2500.0  119000.0  119500.0  115500.0  264139.0
 12  2022.04.21  120500.0  4500.0  125000.0  125000.0  120000.0  299780.0
 13  2022.04.20  125000.0  4000.0  129000.0  129500.0  125000.0  217473.0,
             날짜        종가     전일비        시가        고가        저가       거래량
 1   2022.04.19  129000.0  1500.0  128000.0  129500.0  127500.0   81196.0
 2   2022.04.18  127500.0  4000.0  130500.0  132000.0  127500.0  134117.0
 3   2022.04.15  131500.0  3500.0  133000.0  135500.0  131000.0  160888.0
 4   2022.04.14  135000.0  1000.0  133000.0  135000.0  131000.0  172160.0
 5   2022.04.13  134000.0  1500.0  133000.0  136000.0  131500.0  185981.0
 9   2022.04.12  132500.0  4000.0  125500.0  133000.0  125500.0  215392.0
 10  2022.04.11  128500.0  5500.0  132000.0  132500.0  128500.0  166817.0
 11  2022.04.08  134000.0   500.0  133500.0  135000.0  130500.0  122044.0
 12  2022.04.07  133500.0  4500.0  135500.0  139500.0  132500.0  187528.0
 13  2022.04.06  138000.0  4500.0  141500.0  142500.0  137000.0  192327.0,
             날짜        종가     전일비        시가        고가        저가       거래량
 1   2022.04.05  142500.0  2000.0  144000.0  145500.0  142000.0  105607.0
 2   2022.04.04  144500.0  1000.0  142000.0  145000.0  142000.0  108262.0
 3   2022.04.01  143500.0  5000.0  147000.0  147000.0  143000.0  181546.0
 4   2022.03.31  148500.0  1500.0  150000.0  152000.0  147000.0  160064.0
 5   2022.03.30  150000.0  8000.0  144000.0  150500.0  142000.0  365694.0
 9   2022.03.29  142000.0  2000.0  141500.0  143000.0  140000.0  107004.0
 10  2022.03.28  140000.0  1500.0  141500.0  142000.0  137500.0  100792.0
 11  2022.03.25  141500.0     0.0  141500.0  142000.0  139500.0  128386.0
 12  2022.03.24  141500.0  1000.0  139000.0  143000.0  134500.0  249414.0
 13  2022.03.23  140500.0   500.0  140500.0  142000.0  140000.0  112978.0,
             날짜        종가     전일비        시가        고가        저가       거래량
 1   2022.03.22  140000.0   500.0  139500.0  141000.0  138500.0   81915.0
 2   2022.03.21  139500.0  6000.0  145500.0  145500.0  138500.0  202527.0
 3   2022.03.18  145500.0  3000.0  142500.0  146500.0  142500.0  207175.0
 4   2022.03.17  142500.0  1000.0  144500.0  147000.0  142500.0  193064.0
 5   2022.03.16  141500.0  3500.0  140500.0  142000.0  138000.0  149320.0
 9   2022.03.15  138000.0  2000.0  135500.0  139000.0  133500.0  168109.0
 10  2022.03.14  136000.0  1000.0  133000.0  139500.0  132500.0  196130.0
 11  2022.03.11  135000.0     0.0  134000.0  137000.0  132000.0  201286.0
 12  2022.03.10  135000.0  6500.0  133000.0  135000.0  130500.0  309754.0
 13  2022.03.08  128500.0  5500.0  131500.0  132000.0  126500.0  360099.0,
             날짜        종가     전일비        시가        고가        저가       거래량
 1   2022.03.07  134000.0  9500.0  140500.0  141500.0  133500.0  309144.0
 2   2022.03.04  143500.0  3500.0  148000.0  148000.0  142500.0  171018.0
 3   2022.03.03  147000.0  1000.0  148500.0  149500.0  147000.0  171375.0
 4   2022.03.02  148000.0  1500.0  148500.0  150500.0  146500.0  182220.0
 5   2022.02.28  149500.0  5500.0  144500.0  151000.0  141500.0  381038.0
 9   2022.02.25  144000.0  9000.0  138000.0  144000.0  137000.0  300931.0
 10  2022.02.24  135000.0  4500.0  137000.0  139000.0  133500.0  285049.0
 11  2022.02.23  139500.0   500.0  142000.0  146000.0  137500.0  273026.0
 12  2022.02.22  139000.0  1500.0  137000.0  143000.0  136500.0  248985.0
 13  2022.02.21  140500.0   500.0  137000.0  141500.0  135000.0  267262.0,
             날짜        종가     전일비        시가        고가        저가       거래량
 1   2022.02.18  140000.0  6500.0  131000.0  141000.0  131000.0  373402.0
 2   2022.02.17  133500.0  1000.0  132000.0  138500.0  130500.0  467883.0
 3   2022.02.16  132500.0  5000.0  130000.0  133000.0  128000.0  278850.0
 4   2022.02.15  127500.0  1000.0  129500.0  130000.0  125000.0  170195.0
 5   2022.02.14  128500.0  2000.0  123000.0  129500.0  123000.0  223331.0
 9   2022.02.11  126500.0  1500.0  126500.0  129000.0  122500.0  320552.0
 10  2022.02.10  128000.0  1500.0  127000.0  132000.0  126500.0  390066.0
 11  2022.02.09  126500.0  4000.0  132500.0  133000.0  125500.0  448460.0
 12  2022.02.08  130500.0  2500.0  129000.0  135000.0  126500.0  509976.0
 13  2022.02.07  128000.0  5000.0  132000.0  132000.0  126000.0  384638.0,
             날짜        종가     전일비        시가        고가        저가        거래량
 1   2022.02.04  133000.0  8500.0  124500.0  133000.0  123500.0   577640.0
 2   2022.02.03  124500.0  1500.0  120000.0  127000.0  117000.0  1295460.0
 3   2022.01.28  126000.0  2000.0  128500.0  131500.0  119000.0   416328.0
 4   2022.01.27  128000.0  9000.0  139000.0  139500.0  128000.0   400945.0
 5   2022.01.26  137000.0   500.0  139000.0  145000.0  136000.0   311443.0
 9   2022.01.25  137500.0  9000.0  145500.0  147000.0  136000.0   308103.0
 10  2022.01.24  146500.0  1500.0  146000.0  149500.0  140000.0   374316.0
 11  2022.01.21  145000.0  9000.0  136000.0  150500.0  134500.0   802670.0
 12  2022.01.20  136000.0  8000.0  128500.0  137500.0  126500.0   467454.0
 13  2022.01.19  128000.0  6000.0  130000.0  133000.0  127500.0   409366.0,
             날짜        종가      전일비        시가        고가        저가       거래량
 1   2022.01.18  134000.0   5500.0  139500.0  140000.0  133500.0  317252.0
 2   2022.01.17  139500.0   4000.0  141000.0  143000.0  136500.0  388568.0
 3   2022.01.14  143500.0   3500.0  144000.0  146500.0  142500.0  289482.0
 4   2022.01.13  147000.0   7500.0  155000.0  155500.0  146000.0  409374.0
 5   2022.01.12  154500.0   5000.0  152000.0  159500.0  151500.0  396361.0
 9   2022.01.11  149500.0   1000.0  149000.0  153000.0  146000.0  308114.0
 10  2022.01.10  148500.0   5000.0  152000.0  152500.0  145000.0  323493.0
 11  2022.01.07  153500.0   1500.0  152000.0  157500.0  152000.0  237479.0
 12  2022.01.06  152000.0   6000.0  154500.0  156500.0  151000.0  368852.0
 13  2022.01.05  158000.0  11000.0  168000.0  168000.0  156000.0  613883.0,
             날짜        종가      전일비        시가        고가        저가       거래량
 1   2022.01.04  169000.0   7500.0  175000.0  175500.0  168000.0  320863.0
 2   2022.01.03  176500.0   2000.0  174500.0  178000.0  173500.0  238214.0
 3   2021.12.30  174500.0   2000.0  176500.0  179000.0  172000.0  363144.0
 4   2021.12.29  176500.0   5000.0  179500.0  183500.0  176500.0  248828.0
 5   2021.12.28  181500.0  13000.0  170000.0  181500.0  169500.0  514305.0
 9   2021.12.27  168500.0    500.0  169500.0  171500.0  168000.0  152906.0
 10  2021.12.24  169000.0   5500.0  174500.0  175500.0  169000.0  230914.0
 11  2021.12.23  174500.0   7000.0  168500.0  175500.0  165000.0  385455.0
 12  2021.12.22  167500.0   3500.0  172000.0  173500.0  166000.0  255618.0
 13  2021.12.21  171000.0   1500.0  173500.0  176000.0  170500.0  161986.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2021.12.20  172500.0   4500.0  175500.0  176000.0  171000.0   246385.0
 2   2021.12.17  177000.0   7500.0  182000.0  184000.0  173000.0   502516.0
 3   2021.12.16  184500.0   4500.0  182500.0  186000.0  182000.0   297229.0
 4   2021.12.15  180000.0   1500.0  177500.0  183000.0  177000.0   369689.0
 5   2021.12.14  178500.0  11500.0  188000.0  192500.0  175500.0   598053.0
 9   2021.12.13  190000.0   6000.0  192000.0  194500.0  187000.0   662983.0
 10  2021.12.10  196000.0  12500.0  195000.0  200000.0  193500.0  2217271.0
 11  2021.12.09  208500.0   6500.0  199000.0  216000.0  199000.0  1752401.0
 12  2021.12.08  202000.0   7500.0  195500.0  203000.0  190000.0   726919.0
 13  2021.12.07  194500.0   7000.0  201500.0  204000.0  193500.0   507608.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2021.12.06  201500.0   3000.0  200500.0  205000.0  194500.0   582451.0
 2   2021.12.03  204500.0   3500.0  201000.0  206000.0  197000.0  1076728.0
 3   2021.12.02  208000.0    500.0  204000.0  214500.0  198000.0   692763.0
 4   2021.12.01  207500.0  10500.0  221000.0  229500.0  203500.0  1100138.0
 5   2021.11.30  218000.0  20500.0  240500.0  248500.0  216500.0  1395664.0
 9   2021.11.29  238500.0  16000.0  221000.0  240000.0  216000.0  1259486.0
 10  2021.11.26  222500.0   6000.0  213000.0  243500.0  207000.0  3201357.0
 11  2021.11.25  216500.0  33500.0  185500.0  229500.0  183000.0  2164946.0
 12  2021.11.24  183000.0   6000.0  178500.0  188000.0  177000.0   694628.0
 13  2021.11.23  177000.0   7000.0  167500.0  177000.0  167000.0   388843.0,
             날짜        종가      전일비        시가        고가        저가       거래량
 1   2021.11.22  170000.0   3500.0  172500.0  173000.0  166000.0  216939.0
 2   2021.11.19  173500.0   1000.0  172000.0  176500.0  169500.0  302251.0
 3   2021.11.18  172500.0   1500.0  171000.0  173500.0  165000.0  274048.0
 4   2021.11.17  171000.0   4500.0  170000.0  174000.0  167500.0  575581.0
 5   2021.11.16  166500.0   3500.0  163500.0  170000.0  160000.0  497032.0
 9   2021.11.15  163000.0   5500.0  157500.0  166000.0  155000.0  472684.0
 10  2021.11.12  157500.0  12000.0  146000.0  158000.0  146000.0  705982.0
 11  2021.11.11  145500.0   5000.0  148000.0  150000.0  140000.0  768779.0
 12  2021.11.10  150500.0   3500.0  148000.0  153500.0  147000.0  615031.0
 13  2021.11.09  147000.0   6500.0  153500.0  157500.0  146000.0  892617.0,
            날짜        종가      전일비        시가        고가        저가         거래량
 1  2021.11.08  153500.0  16500.0  168500.0  169500.0  152000.0   1394625.0
 2  2021.11.05  170000.0   1000.0  167500.0  179000.0  167500.0   1597937.0
 3  2021.11.04  169000.0  24000.0  190000.0  191000.0  166000.0   3487030.0
 4  2021.11.03  193000.0  13000.0  180000.0  230000.0  173000.0  11799881.0]

In [24]:
page_no = 1
item_code = "377300"
item_name = "카카오페이"
get_day_list(item_code, page_no)

            날짜        종가     전일비        시가        고가        저가       거래량
1   2022.05.18   89900.0  1200.0   89600.0   90400.0   89300.0   39270.0
2   2022.05.17   88700.0  2900.0   85800.0   88700.0   85400.0  214643.0
3   2022.05.16   85800.0   200.0   86500.0   88700.0   85700.0  277584.0
4   2022.05.13   86000.0   100.0   85900.0   86600.0   85000.0  307400.0
5   2022.05.12   85900.0  5500.0   90000.0   90000.0   85000.0  512917.0
9   2022.05.11   91400.0   500.0   91000.0   92800.0   89700.0  333197.0
10  2022.05.10   91900.0  1900.0   91200.0   92000.0   89700.0  514324.0
11  2022.05.09   93800.0  4000.0   96000.0   96700.0   93400.0  462857.0
12  2022.05.06   97800.0  8700.0  104500.0  105000.0   97100.0  735556.0
13  2022.05.04  106500.0  2000.0  108000.0  109500.0  106000.0  302514.0

In [87]:
import time
# web page 시작번호
page_no = 1
# 데이터를 저장할 빈 변수 선언
item_list = []
# item_code = "373220"
# item_name = "LG에너지솔루션"
item_code = "377300"
item_name = "카카오페이"

prev = ""

while True:
    print(page_no)
    
    df_one_page = get_day_list(item_code, page_no)
    # 마지막 날짜를 가져옴
    curr = df_one_page.iloc[-1, 0]
    # 마지막 날짜를 비교했을 때 같으면 반복문을 종료
    if curr == prev:
        break
        
    item_list.append(df_one_page)
    page_no = page_no + 1
    # 현재 날짜를 이전 날짜 변수에 담아서 다음번에 비교합니다.
    prev = curr

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [124]:
# DataFrame들이 list의 형태로 저장된 것을 concat을 이용하여 합치면서 하나의 DataFrame으로 만듭니다.
df = pd.concat(item_list)
df

            날짜        종가      전일비        시가        고가        저가         거래량
1   2022.05.18   90100.0   1400.0   89600.0   90900.0   89300.0    108398.0
2   2022.05.17   88700.0   2900.0   85800.0   88700.0   85400.0    214643.0
3   2022.05.16   85800.0    200.0   86500.0   88700.0   85700.0    277584.0
4   2022.05.13   86000.0    100.0   85900.0   86600.0   85000.0    307400.0
5   2022.05.12   85900.0   5500.0   90000.0   90000.0   85000.0    512917.0
..         ...       ...      ...       ...       ...       ...         ...
13  2021.11.09  147000.0   6500.0  153500.0  157500.0  146000.0    892617.0
1   2021.11.08  153500.0  16500.0  168500.0  169500.0  152000.0   1394625.0
2   2021.11.05  170000.0   1000.0  167500.0  179000.0  167500.0   1597937.0
3   2021.11.04  169000.0  24000.0  190000.0  191000.0  166000.0   3487030.0
4   2021.11.03  193000.0  13000.0  180000.0  230000.0  173000.0  11799881.0

[134 rows x 7 columns]

## 수집한 데이터 하나의 데이터프레임으로 합치기

<img src="https://pandas.pydata.org/docs/_images/merging_concat_basic.png">

* [Merge, join, concatenate and compare documentation](https://pandas.pydata.org/docs/user_guide/merging.html#merge-join-concatenate-and-compare)

In [125]:
# DataFrame들이 list의 형태로 저장된 것을 concat을 이용하여 합치면서 하나의 DataFrame으로 만듭니다.
df = pd.concat(item_list)
df

            날짜        종가      전일비        시가        고가        저가         거래량
1   2022.05.18   90100.0   1400.0   89600.0   90900.0   89300.0    108398.0
2   2022.05.17   88700.0   2900.0   85800.0   88700.0   85400.0    214643.0
3   2022.05.16   85800.0    200.0   86500.0   88700.0   85700.0    277584.0
4   2022.05.13   86000.0    100.0   85900.0   86600.0   85000.0    307400.0
5   2022.05.12   85900.0   5500.0   90000.0   90000.0   85000.0    512917.0
..         ...       ...      ...       ...       ...       ...         ...
13  2021.11.09  147000.0   6500.0  153500.0  157500.0  146000.0    892617.0
1   2021.11.08  153500.0  16500.0  168500.0  169500.0  152000.0   1394625.0
2   2021.11.05  170000.0   1000.0  167500.0  179000.0  167500.0   1597937.0
3   2021.11.04  169000.0  24000.0  190000.0  191000.0  166000.0   3487030.0
4   2021.11.03  193000.0  13000.0  180000.0  230000.0  173000.0  11799881.0

[134 rows x 7 columns]

In [126]:
%timeit df.iloc[0, 0] # 이게 더 빠름

37.8 µs ± 1.23 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [127]:
%timeit df.iloc[0][0]

137 µs ± 5.76 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

In [130]:
# head와 tail로 데이터의 일부를 가져와서 봅니다.
df.head()

           날짜       종가     전일비       시가       고가       저가       거래량
1  2022.05.18  90100.0  1400.0  89600.0  90900.0  89300.0  108398.0
2  2022.05.17  88700.0  2900.0  85800.0  88700.0  85400.0  214643.0
3  2022.05.16  85800.0   200.0  86500.0  88700.0  85700.0  277584.0
4  2022.05.13  86000.0   100.0  85900.0  86600.0  85000.0  307400.0
5  2022.05.12  85900.0  5500.0  90000.0  90000.0  85000.0  512917.0

In [129]:
df.tail()

            날짜        종가      전일비        시가        고가        저가         거래량
13  2021.11.09  147000.0   6500.0  153500.0  157500.0  146000.0    892617.0
1   2021.11.08  153500.0  16500.0  168500.0  169500.0  152000.0   1394625.0
2   2021.11.05  170000.0   1000.0  167500.0  179000.0  167500.0   1597937.0
3   2021.11.04  169000.0  24000.0  190000.0  191000.0  166000.0   3487030.0
4   2021.11.03  193000.0  13000.0  180000.0  230000.0  173000.0  11799881.0

## 데이터프레임에 종목코드와 종목명을 추가하기
* 파생변수 만들기

In [131]:
# '종목코드'와 '종목명' column을 추가하면서 각각 item_code와 item_name 값을 입력합니다.
df["종목코드"] = item_code
df["종목명"] = item_name

In [132]:
df.head()

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,종목명
1,2022.05.18,90100.0,1400.0,89600.0,90900.0,89300.0,108398.0,377300,카카오뱅크
2,2022.05.17,88700.0,2900.0,85800.0,88700.0,85400.0,214643.0,377300,카카오뱅크
3,2022.05.16,85800.0,200.0,86500.0,88700.0,85700.0,277584.0,377300,카카오뱅크
4,2022.05.13,86000.0,100.0,85900.0,86600.0,85000.0,307400.0,377300,카카오뱅크
5,2022.05.12,85900.0,5500.0,90000.0,90000.0,85000.0,512917.0,377300,카카오뱅크

## 컬럼 순서 변경하기

In [133]:
# DataFrame에서 column 들의 이름을 순서를 조정하여 column순서를 변경할 수 있습니다.
cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
df = df[cols]
df.head(1)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,377300,카카오뱅크,2022.05.18,90100.0,1400.0,89600.0,90900.0,89300.0,108398.0

In [134]:
import FinanceDataReader as fdr

fdr.DataReader("FB")

             Close    Open    High     Low       Volume  Change
Date
2012-05-18   38.23   42.05   45.00   38.00  580590000.0 -0.5762
2012-05-21   34.03   36.53   36.66   33.00  168310000.0 -0.1099
2012-05-22   31.00   32.61   33.59   30.94  102050000.0 -0.0890
2012-05-23   32.00   31.37   32.50   31.36   73720000.0  0.0323
2012-05-24   33.03   32.95   33.21   31.77   50280000.0  0.0322
...            ...     ...     ...     ...          ...     ...
2022-05-11  188.74  196.32  200.67  188.27   31040000.0 -0.0451
2022-05-12  191.24  187.05  198.05  184.78   38110000.0  0.0132
2022-05-13  198.62  192.58  199.89  191.28   24370000.0  0.0386
2022-05-16  200.04  197.05  205.37  195.93   27030000.0  0.0071
2022-05-17  202.62  202.12  205.46  198.36   24750000.0  0.0129

[2517 rows x 6 columns]

## 중복데이터 제거하기
* drop_duplicates 를 통해 중복된 데이터가 있다면 제거합니다.

In [135]:
# drop_duplicates : row들 끼리 data를 비교하여 같은 값이 있으면 row중 하나를 삭제
# df.shape를 전/후로 출력하여 삭제된 row가 있는지 확인
df = df.drop_duplicates()
df.shape

(134, 9)

## 기술통계값 구하기

In [136]:
# describe는 기본적으로 수치데이터에 대한 기술통계값을 구하게 됩니다.
df.describe()

,종가,전일비,시가,고가,저가,거래량
count,134.000000,134.000000,134.000000,134.000000,134.000000,1.340000e+02
mean,147305.223881,4729.104478,147328.358209,151842.537313,143483.582090,5.523498e+05
std,30357.353638,4763.691382,29835.873377,32893.174960,28269.900021,1.106149e+06
min,85800.000000,0.000000,85800.000000,86600.000000,85000.000000,8.119600e+04
25%,129375.000000,1500.000000,130625.000000,133000.000000,127500.000000,2.036890e+05
50%,141750.000000,3750.000000,141750.000000,145250.000000,139000.000000,3.094490e+05
75%,169000.000000,6000.000000,169250.000000,173500.000000,166000.000000,5.063350e+05
max,238500.000000,33500.000000,240500.000000,248500.000000,216500.000000,1.179988e+07

* 참고 : E notation
[과학적 기수법 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EA%B3%BC%ED%95%99%EC%A0%81_%EA%B8%B0%EC%88%98%EB%B2%95)

과학적 기수법, 과학적 표기법(scientific notation, scientific form, standard index form, standard form)은 너무 크거나 너무 작은 숫자들을 십진법으로 편하게 작성하여 표현하는 방법이다. 과학자, 수학자, 공학자들이 공통적으로 사용하는데, 부분적인 이유는 특정한 산술을 단순화시켜 주기 때문이다. 과학 계산기에서는 "SCI" 디스플레이 모드라는 이름으로 알려져 있다.

In [137]:
# 거래량의 과학적 기수법 읽기
5.63350e+05

563350.0

In [138]:
5.063350 * 10 **5

506335.0

## 최근 날짜 구해서 파일명 만들기

In [139]:
# 날짜 column의 첫 row값 확인
# date

date = df.iloc[0]["날짜"]
date

'2022.05.18'

In [140]:
# 종목명, 종목코드, 날짜를 이름으로 하는 csv 파일명 만들기
# file_name

file_name = f"{item_name}_{item_code}_{date}.csv"
file_name

'카카오뱅크_377300_2022.05.18.csv'

## 파일로 저장하기

In [141]:
# 파일로 저장하기 
# index=False 로 데이터프레임의 기본 index 는 저장하지 않도록 합니다.
df.to_csv(file_name, index = False)

In [142]:
# 제대로 저장되었는지 파일을 읽어서 확인합니다.
pd.read_csv(file_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
0,377300,카카오뱅크,2022.05.18,90100.0,1400.0,89600.0,90900.0,89300.0,108398.0
1,377300,카카오뱅크,2022.05.17,88700.0,2900.0,85800.0,88700.0,85400.0,214643.0
2,377300,카카오뱅크,2022.05.16,85800.0,200.0,86500.0,88700.0,85700.0,277584.0
3,377300,카카오뱅크,2022.05.13,86000.0,100.0,85900.0,86600.0,85000.0,307400.0
4,377300,카카오뱅크,2022.05.12,85900.0,5500.0,90000.0,90000.0,85000.0,512917.0
...,...,...,...,...,...,...,...,...,...
129,377300,카카오뱅크,2021.11.09,147000.0,6500.0,153500.0,157500.0,146000.0,892617.0
130,377300,카카오뱅크,2021.11.08,153500.0,16500.0,168500.0,169500.0,152000.0,1394625.0
131,377300,카카오뱅크,2021.11.05,170000.0,1000.0,167500.0,179000.0,167500.0,1597937.0
132,377300,카카오뱅크,2021.11.04,169000.0,24000.0,190000.0,191000.0,166000.0,3487030.0
133,377300,카카오뱅크,2021.11.03,193000.0,13000.0,180000.0,230000.0,173000.0,11799881.0

## 전체 과정을 하나의 함수로 만들기

In [143]:
def get_item_list(item_code, item_name):
    """
    일별 시세를 수집하는 함수
    """
    page_no = 1
    # 데이터를 저장할 빈 변수 선언
    item_list = []
    # item_code = "373220"
    # item_name = "LG에너지솔루션"
    item_code = "377300"
    item_name = "카카오페이"
    cnt = 0
    prev = ""

    while True:
        print('*', end = '')
        cnt += 1

        df_one_page = get_day_list(item_code, page_no)
        # 마지막 날짜를 가져옴
        curr = df_one_page.iloc[-1, 0]
        # 마지막 날짜를 비교했을 때 같으면 반복문을 종료
        if curr == prev:
            break

        item_list.append(df_one_page)
        page_no = page_no + 1
        # 현재 날짜를 이전 날짜 변수에 담아서 다음번에 비교합니다.
        prev = curr
    print(cnt)
            
    df = pd.concat(item_list)
    
    df["종목코드"] = item_code
    df["종목명"] = item_name
    
    cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
    df = df[cols]
    
    df = df.drop_duplicates()
    
    date = df.iloc[0]["날짜"]
    
    file_name = f"{item_name}_{item_code}_{date}.csv"
    
    df.to_csv(file_name, index = False)
    
    return pd.read_csv(file_name)

In [145]:
item_code = "323410"
item_name = "카카오뱅크"
get_item_list(item_code, item_name)

***************15

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
0,377300,카카오페이,2022.05.18,89900.0,1200.0,89600.0,90900.0,89300.0,110746.0
1,377300,카카오페이,2022.05.17,88700.0,2900.0,85800.0,88700.0,85400.0,214643.0
2,377300,카카오페이,2022.05.16,85800.0,200.0,86500.0,88700.0,85700.0,277584.0
3,377300,카카오페이,2022.05.13,86000.0,100.0,85900.0,86600.0,85000.0,307400.0
4,377300,카카오페이,2022.05.12,85900.0,5500.0,90000.0,90000.0,85000.0,512917.0
...,...,...,...,...,...,...,...,...,...
129,377300,카카오페이,2021.11.09,147000.0,6500.0,153500.0,157500.0,146000.0,892617.0
130,377300,카카오페이,2021.11.08,153500.0,16500.0,168500.0,169500.0,152000.0,1394625.0
131,377300,카카오페이,2021.11.05,170000.0,1000.0,167500.0,179000.0,167500.0,1597937.0
132,377300,카카오페이,2021.11.04,169000.0,24000.0,190000.0,191000.0,166000.0,3487030.0
133,377300,카카오페이,2021.11.03,193000.0,13000.0,180000.0,230000.0,173000.0,11799881.0

## 내가 만든 함수의 기능과 소스코드가 궁금하다면?

In [41]:
# 도움말 보기
# get_item_list?

In [42]:
# 소스코드 보기
# get_item_list??